---
---

@import "{{ site.theme }}";

.page-header {
  background: rebeccapurple;
  background-image: url(https://masqt.com/img/masqt-bg.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-name,
.project-tagline {
  text-shadow: 0 0 200px #000;
}
